header{
  background-color:#E6E6FA;
}

.caixa nav{
  font-family: 'Yeon Sung', cursive;
  font-family: 'ZCOOL XiaoWei', serif;

}

.caixa{
  position: relative;
  width:1450px;
  margin:auto;
 
}

nav{
  position: absolute;
  top: 70px;
  right: 200px;
}

nav li{
  display: inline;
  margin: 0 0 0 25px;
}

nav a{

  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

nav a:hover{
  color: royalblue;
}

.caixa img{
  position: relative;
  left: 70px;
  width: 200px;
}

.produtos{
  width: 1450px;
  margin: 0 auto;
  padding: 50px 0;
  background-color:	#E6E6FA;
}

.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  box-sizing: border-box;
  border-color: tomato;
  border-width:7px;
  border-style: solid;
  margin: 30px 1%;
  padding: 30px 0px;
  border-radius: 40px;
}

.produtos li:hover{
  border-color: #00FA9A;
  }

  .produtos li:active{
  border-color: #3CB371;
  }

.produtos li:hover h2{
  font-size: 45px;  
}

.produtos h2{
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 30px;
  font-weight: bold;
  color: #6495ED;
}

.produtos img{
  border-radius: 15px;
  width: 370px;
}