header{
  background-color: #E0FFFF;
}

.caixa{
  position: relative;
  width: 940px;
  margin:auto;
}

nav{
  position: absolute;
  top: 70px;
  right: 0px;
}

nav li{
  display: inline;
  margin: 0 0 0 25px;
}

nav a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

nav a:hover{
  color: royalblue;
}

img{
  width: 200px;
}

.produtos{
  width: 1300px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  box-sizing: border-box;
  border-color: tomato;
  border-width:7px;
  border-style: solid;
  margin: 0 1%;
  padding: 10px 0px;
  border-radius: 10px;
}

.produtos li:hover{
  border-color: #00FA9A;
  }

  .produtos li:active{
  border-color: #3CB371;
  }

.produtos li:hover h2{
  font-size: 45px;  
}

.produtos h2{
  font-size: 30px;
  font-weight: bold;
  color: #6495ED;
}
.produtos img{
  width: 370px;
}